<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
<h1>Welcome</h1>
<p>You are logged in.</p>

<h3>User INFO</h3>
<p>ID: <span th:text="${userResponse.userId}"></span></p>
<p>Email: <span th:text="${userResponse.email}"></span></p>
<p>Nickname: <span th:text="${userResponse.nickname}"></span></p>
<p>Access Token: <span th:text="${userResponse.accessToken}"></span></p>
<!--<p>Refresh Token: <span th:text="${userResponse.refreshToken}"></span></p>-->
</body>
</html>
